{% extends 'base.html' %}
{% block base %}


<h1>cardsummay</h1>
<section class="w-full bg-white dark:bg-[#0A2025] py-9 px-8">
    <h1 class="text-center text-[#191919] dark:text-white text-[32px] font-semibold leading-[38px]">
        My Cart
    </h1>
    {% if data %}
    <div class="flex items-start mt-8 gap-6">
        <div class="bg-white p-4 w-[800px] rounded-xl">
            <table class="w-full bg-white rounded-xl">
                <thead>
                    <tr
                        class="text-center border-b border-gray-400 w-full text-[#7f7f7f] text-sm font-medium uppercase leading-[14px] tracking-wide">
                        <th class="text-left px-2 py-2">Product</th>
                        <th class="px-2 py-2">price</th>
                        <th class="w-7 px-2 py-2"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}

                    <tr class="text-center">
                        <td class="px-2 py-2 text-left align-top">
                            <img src="{{i.course_object.picture.url}}" alt="test"
                                class="w-[100px] mr-2 inline-block h-[100px]" /><span>{{i.course_object.title}}</span>
                        </td>
                        <td class="px-2 py-2">Rs.{{i.course_object.price}}</td>

                        <td class="px-2 py-2">
                            <a href="{% url 'delcart' i.id %}">
                                <svg width="24" class="cursor-pointer" height="25" viewBox="0 0 24 25" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12 23.5C18.0748 23.5 23 18.5748 23 12.5C23 6.42525 18.0748 1.5 12 1.5C5.92525 1.5 1 6.42525 1 12.5C1 18.5748 5.92525 23.5 12 23.5Z"
                                        stroke="#CCCCCC" stroke-miterlimit="10"></path>
                                    <path d="M16 8.5L8 16.5" stroke="#666666" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                    <path d="M16 16.5L8 8.5" stroke="#666666" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr class="border-t border-gray-400">
                        <td class="px-2 py-2" colspan="3">
                            <a href="{% url 'home' %}"
                                class="px-8 cursor-pointer py-3.5 bg-[#f2f2f2] rounded-[43px] text-[#4c4c4c] text-sm font-semibold className leading-[16px]">
                                Return to shop
                            </a>
                        </td>

                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="w-[424px] bg-white rounded-lg p-6">
            <h2 class="text-[#191919] mb-2 text-xl font-medium leading-[30px]">
                Cart Total
            </h2>
            <div class="w-[376px] py-3 justify-between items-center flex">
                <span class="text-[#4c4c4c] text-base font-normal leading-normal">Total:</span><span
                    class="text-[#191919] text-base font-semibold leading-tight">Rs.{{cart_total}}</span>
            </div>
            <div
                class="w-[376px] py-3 shadow-[0px_1px_0px_0px_rgba(229,229,229,1.00)] justify-between items-center flex">
                <span class="text-[#4c4c4c] text-sm font-normal leading-[21px]">Shipping:</span><span
                    class="text-[#191919] text-sm font-medium leading-[21px]">Free</span>
            </div>
            <div
                class="w-[376px] py-3 shadow-[0px_1px_0px_0px_rgba(229,229,229,1.00)] justify-between items-center flex">
                <span class="text-[#4c4c4c] text-sm font-normal leading-[21px]">Subtotal:</span><span
                    class="text-[#191919] text-sm font-medium leading-[21px]">Rs.{{cart_total}}</span>
            </div>
            <a href="{% url 'order' %}"
                class="w-[376px] text-white mt-5 px-10 py-4 bg-[#00b206] rounded-[44px] gap-4 text-base font-semibold leading-tight">
                Proceed to checkout
            </a>
        </div>
    </div>
    {% else %}
    <div class="w-full p-3 flex flex-col items-center">
        <img style="max-height: 400px;"
            src="https://static.vecteezy.com/system/resources/previews/047/468/658/non_2x/empty-state-empty-cart-illustration-free-vector.jpg"
            alt="No-images">
    </div>

    {% endif %}
</section>
{% endblock base %}