{% extends 'base.html' %}
{% block base %}

<h1 class="text-xl text-cyan-700 m-2 font-bold text-shadow-lg">{{course.title}}</h1>
<div class="w-full min-h-screen grid sm:grid-cols-1 md:grid-cols-[3fr_1fr]">
    <div>
        <iframe width="100%" height="100%" src="{{lesson.vedio}}" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div>
        <h3>Modules</h3>
        <div class="bg-white rounded-xl shadow mt-8">
            <h2 class="text-xl font-semibold px-6 pt-6">Course Content</h2>
            <div id="accordion-collapse" data-accordion="collapse">
                {% for module in course.module.all %}

                <h3>
                    <button class="flex justify-between w-full px-6 py-4 border-b hover:bg-blue-200"
                        data-accordion-target="#module-{{ module.id }}">
                        <span class="font-medium">{{ module }}</span>
                    </button>
                </h3>

                <div id="module-{{ module.id }}" class="hidden">
                    <div class="px-4 py-2 space-y-2">

                        {% for l in module.lesson.all %}
                        <a href="{% url 'lesson' course.id %}?module={{ module.id }}&lesson={{ l.id }}" class="block px-4 py-2 rounded hover:bg-cyan-100
           {% if lesson.id == l.id %} bg-cyan-200 font-semibold {% endif %}">

                            ▶ {{ l.title }}

                        </a>
                        {% endfor %}

                    </div>
                </div>

                {% endfor %}
            </div>

        </div>
    </div>
</div>


{% endblock base %}